
<button class="btn pull-right">X</button>
<iframe class="terminal__console" src="<%= url %>"></iframe>

<style>
  .terminal {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }
  .terminal__console {
    width: 100%;
  }
</style>
